<!--
   Created with IntelliJ IDEA.
   Description: 数据初始化
   User: LENOVO
   Date: 2018-07-25
   Time: 13:17
 -->
<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>数据初始化</title>
    <meta name="keywords" content="Winning Health CIS 互联互通工具"/>
    <meta name="description" content="Winning Health CIS 互联互通工具"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/jquery.treegrid.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap3-editable/css/bootstrap-editable.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-treeview/bootstrap-treeview.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/google-font/google.fonts.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/toastr/css/toastr.min.css}"/>
    <link rel="shortcut icon" th:href="@{/img/logo.ico}"/>
    <script th:src="@{/assets/js/ace-extra.min.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/ztree/css/zTreeStyle/zTreeStyle.css}">
    <style>
        .tree-container{
            height: 500px;
            overflow: scroll;
        }
        .table-align{
            table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
            font-size:12px;
        }
    </style>
</head>
<body>
<div class="main-container" style="margin: 10px 0px;">
    <div class="row" style="margin:0px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#config">
                            基础模板匹配
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#template">
                           数据集配置
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="tabContent">
                    <div id="config" class="tab-pane in active">
                            <div class="row" id="toolbar">
                                <div class="col-sm-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">数据集</span>
                                        <select class="form-control" name="dataSet" id="dataSet">
                                            <option value="">-----全部-----</option>
                                        </select>
                                    </div>
                                </div>
                                <!--<div class="col-sm-1">
                                    <div class="input-group">
                                        <label>
                                            <input name="chosen" type="checkbox" class="ace" id="chosen"/>
                                            <span class="lbl">必选</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="input-group">
                                        <label>
                                            <input name="configPath" type="checkbox" class="ace" id="configPath"/>
                                            <span class="lbl">路径已配置</span>
                                        </label>
                                    </div>
                                </div>-->
                            </div>
                        <table id="table" class="table-align"></table>
                    </div>
                    <div id="template" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tree-container">
                                    <p>互利互通数据集</p>
                                    <div id="dataTree" class="ztree ">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tree-container">
                                    <div style="line-height: 400px;margin: 0px 120px;">
                                        <button id="addOrModify" type="button" class="btn btn-primary" style="width: 100px;">保存</button>
                                    </div>

                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tree-container">
                                    <p>病历导航树</p>
                                    <div id="templateTree" class="ztree ">
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[if !IE]> -->
<script type="text/javascript" th:src="@{/bootstrap/js/jquery-2.2.4.min.js}"></script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript" th:src="@{/bootstrap/js/jquery-1.12.4.min.js}"></script>
<![endif]-->
<!--bootstrap-->
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-table-zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/bootstrap3-editable/js/bootstrap-editable.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-table-editable.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-table-treegrid.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/jquery.treegrid.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/toastr/js/toastr.min.js}"></script>
<!--ace-->
<script type="text/javascript" th:src="@{/assets/js/ace-elements.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/ace.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/ace-extra.min.js}"></script>
<script th:src="@{/assets/ztree/js/jquery.ztree.core.min.js}"></script>
<script th:src="@{/assets/ztree/js/jquery.ztree.exedit.min.js}"></script>
<script th:src="@{/assets/ztree/js/jquery.ztree.excheck.min.js}"></script>
<script th:src="@{/assets/ztree/js/jquery.ztree.exhide.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var ctx = /*[[@{/}]]*/'';
    var resultData = [];
    var templateTree,dictTree;
    //页面初始化
    function initWindow(){
        //页面大小响应布局
        $(window).width((window.parent.document.getElementById("coniframe").width -12)+'px');
        $(window).height((window.parent.document.getElementById("coniframe").height -12)+'px');
        $('#tabContent').height($(window).height() - 100+'px')
        //行内操作初始化
//        $.fn.editable.defaults.mode = 'inline';
    }
    initWindow();
    //字典值加载
    function initDictInfo(){
        var $parent = $('#dataSet');
        $.ajax({
            url: ctx + 'common/dict',
            async: true,
            type: "post",
            cache:false,
            data: {'dictCode':'platformTableName'},
            success: function (data, status) {
                $parent.empty();
                var $data = data.data;
                resultData = data.data;
                for (var key in $data) {
                    $('<option value="' + $data[key].dictValue+ '">' + $data[key].dictLabel+ '</option>').appendTo($parent);
                }
                $('<option value="">-----------全部-----------</option>').prependTo($parent);
                $parent.val("");
            }
        });
    }

    initDictInfo();
    var $table = $('#table');

    var templateSetting = {
        async: {
            enable: true,
            url:ctx + "/mbk/tree",
            autoParam:["nodeId"],
            dataType:'json',
            dataFilter: filter
        },
        checkable: true,
        showIcon: true,
        showLine: true,
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false,
            showIcon:true
        },
        expandSpeed: "",
        data: {
            keep:{
                parent:true,

            },
            key:{
                name:'nodeName',
                isParent: "parent",
                isHidden: "hidden"
            },
            simpleData: {
                enable: true,
                idKey: "nodeId",
                pIdKey: "nodePid",
                rootPId: ""
            }
        },
        check: {
            enable: true,
            chkboxType: { "Y" : "ps", "N" : "ps" }
        },
        callback: {
            onClick: zTreeOnOnClick,
            onExpand:zTreeOnOnClick
        }
    };

    var dictSetting = {
        async: {
            enable: true,
            url:ctx + "/dict/tree",
            autoParam:["dictCode","dictValue"],
            dataType:'json',
            dataFilter: dictFilter
        },
        checkable: true,
        showIcon: true,
        showLine: true,
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false,
            showIcon:false
        },
        expandSpeed: "",
        data: {
            keep:{
                parent:false
            },
            key:{
                name:'dictLabel',
                isParent: "parent"
            },
            simpleData: {
                enable: true,
                idKey: "dictValue",
                pIdKey: "",
                rootPId: ""
            }
        },
      /*  check: {
            enable: true,
            chkStyle:'radio',
        },*/
        callback: {
            onClick: dictTreeOnOnClick,
            onCheck: dictTreeOnOnClick
        }
    };

    dictTree = $.fn.zTree.init($("#dataTree"), dictSetting);

    templateTree = $.fn.zTree.init($("#templateTree"), templateSetting);

    /**
     * 字典表数据转换
     * @param treeId
     * @param parentNode
     * @param childNodes
     * @returns {null}
     */
    function dictFilter(treeId, parentNode, childNodes) {
        if (!childNodes) return null;
        var result = childNodes.data;
        for (var i=0, l=result.length; i<l; i++) {
            result[i].dictLabel = result[i].dictLabel.replace(/\.n/g, '.');
        }
        return result;
    }

    /**
     * 模板数据转换
     * @param treeId
     * @param parentNode
     * @param childNodes
     * @returns {null}
     */
    function filter(treeId, parentNode, childNodes) {
        if (!childNodes) return null;
        var result = childNodes.data;
        for (var i=0, l=result.length; i<l; i++) {
            result[i].nodeName = result[i].nodeName.replace(/\.n/g, '.');
        }
        return result;
    }

    function openAddWindow(id,recordName,index) {
        var data = {row :{pid:id,recordName:recordName},index:index+10000};
        console.log(data);
        $table.bootstrapTable('insertRow',data);
    }

    $(function(){
        //toastr 插件全局配置
        toastr.options.positionClass = 'toast-top-center';
        toastr.options.timeOut = 30;
        toastr.options.extendedTimeOut = 60;

        $table.bootstrapTable({
//            url:ctx + 'basic/list',
            striped: true,
            method: 'GET', // 请求方法
            cache: false,  // 是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            sortable: false,
            sortOrder: "asc",
            sidePagination: "server",
            toolbar: '#toolbar',
            toolbarAlign: 'left',
            idField: 'id',
            queryParams: queryListInfo,
            columns: [
                {
                    field: 'recordName',
                    title: '字段名称',
                    align: 'left',
                    width: '210px',
                    formatter:function(value,row,index){
//                        if(row.pid !== 0){
//                            return '<span>'+value+'</span> <span class="pull-right" onclick="openAddWindow(\''+row.id+'\',\''+row.recordName+'\',\''+index+'\')"><i class="glyphicon glyphicon-plus"></i> </span>';
//                        }else{
                            return '<span>'+value+'</span>';
//                        }
                    }
                },
                {
                    field: 'dataType',
                    title: '类型',
                    align: 'center',
                    width: '100px',
                    editable: {
                        emptytext:'-',
                        type: 'select',
                        source:[
                            {value:"1",text:"文件结构"},
                            {value:"2",text:"基础模板"},
                            {value:"3",text:"元数据"},
                            {value:"4",text:"原子节点"}]
                    }
                },
                {
                    field: 'dtjddm',
                    align: 'center',
                    title: '文件结构ID',
                    width: '250px',
                    editable: {
                        emptytext:'-',
                        type: 'text',
                        title: '文件结构ID'
                    }
                },
                {
                    field: 'qrmbdm',
                    align: 'center',
                    title: '基础模板ID',
                    width: '250px',
                    editable: {
                        emptytext:'-',
                        type: 'text',
                        title: '基础模板ID'
                    }
                },
                {
                    field: 'qrdxdm',
                    align: 'center',
                    title: '元数据ID',
                    width: '250px',
                    editable: {
                        emptytext:'-',
                        type: 'text',
                        title: '元数据ID'
                    }
                },
                {
                    field: 'yzjddm',
                    align: 'center',
                    title: '原子节点ID',
                    width: '250px',
                    editable: {
                        emptytext:'-',
                        type: 'text',
                        title: '原子节点ID'
                    }
                },
                {
                    field: 'bt',
                    align: 'center',
                    title: '必选',
                    width: '100px',
                    formatter:function(value,row,index){
                        if(row.pid === 0){
                            return '';
                        }
                    },
                    editable: {
                        emptytext:'-',
                        type: 'select',
                        source:[
                            {value:"0",text:"非必选"},
                            {value:"1",text:"必选"}]
                    }
                }
            ],
            treeShowField: 'recordName',
            parentIdField: 'pid',
            onLoadSuccess: function (data) {
                $table.treegrid({
                    initialState: 'collapsed',
                    treeColumn: 0,
                    onChange: function () {
                        $table.bootstrapTable('resetWidth');
                    }
                });
            },
            onExpandRow:function(index,row,detail){
                console.log(index);
                console.log(row);
                console.log(detail);
            }
        });
        $table.on('editable-save.bs.table',function (event, field, row, $el) {
            var param = {
                id:row.id,
                pId:row.pid,
                sourceType:row.sourceType,
                recordName:row.recordName,
                pyCode:row.pyCode,
                dictCode:row.dictCode,
                dataType:row.dataType,
                dtjddm:row.dtjddm,
                qrmbdm:row.qrmbdm,
                qrdxdm:row.qrdxdm,
                yzjddm:row.yzjddm,
                bt:row.bt
            };
            $.ajax({
                url: ctx + "basic/edit",
                data: param,
                type: "post",
                dataType: 'json',
                async: false,
                cache: false,
                success: function (result,status) {
                    if(status === 'success'){
                        toastr.info('数据提交成功');
                    }
                },
                error: function (response) {
                    toastr.error(response.responseText);
                },
                complete: function () {
                }
            });
        });
        function queryListInfo(){
            let queryJson = {
                sourceType : $('#dataSet').val()
            };
            if($('#chosen').is(':checked')){
                queryJson['bt'] = 1;
            }
            if($('#configPath').is(':checked')){
                queryJson['config'] = 1;
            }
           return queryJson;
        }
        function searchListInfo(){
            $table.bootstrapTable('refresh', { pageNumber: 1 });
        }
        $('#dataSet').on('change',searchListInfo);
        $('#chosen').on('change',searchListInfo);
        $('#configPath').on('change',searchListInfo);


    });


    $('#addOrModify').on('click',function () {
        let dictArr = dictTree.getCheckedNodes(true);
        if(dictArr == undefined || dictArr.length < 0){
            toastr.error('请选择互利互通数据集数据');
            return ;
        }
        let templateArr = templateTree.getCheckedNodes(true)
        if(templateArr == undefined || templateArr.length < 0){
            toastr.error('请选择病历导航树数据');
            return ;
        }

        let mbzDataListSet =[];
        let index = 0;
        for(let i =0 ;i < dictArr.length ;i++){
            for(let j =0 ;j < templateArr.length ;j++){
                if(templateArr[j].nodeId.startsWith('B')){
                    continue ;
                }else{
                    mbzDataListSet[index]={
                        'sourceType':dictArr[i].dictValue,
                        'modelCode':templateArr[j].nodeId,
                        'sourceName':dictArr[i].dictLabel,
                        'modelName':templateArr[j].nodeName,
                    };
                    index++;
                }
            }
        }
        $.ajax({
            url: ctx + 'dataList/addOrModify',
            async: false,
            type: "post",
            cache:false,
            dataType: 'json',
            contentType : 'application/json',
            data:  JSON.stringify(mbzDataListSet),
            success: function (data, status) {
                toastr.info('保存成功');
            },error:function (response) {
                console.log(response.responseText);
                toastr.error(response.responseText);
            }
        });

    });

    /**
     * templateTree延迟加载
     * @param event
     * @param treeId
     * @param treeNode
     */
    function zTreeOnOnClick(event, treeId, treeNode) {
        let treeObj = $.fn.zTree.getZTreeObj(treeId);
        let node = treeObj.getNodeByTId(treeNode.tId);
        //没有子节点才去查询
        if (node.children.length < 1 || node.children == null || node.children == "undefined") {
            let queryJson = {
                'mldm':treeNode.nodeId
            };
            $.ajax({
                type: "POST",
                async: false,
                url: ctx + "mbk/childTree",
                data:queryJson,
                cache:false,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data.data != null && data.data != "") {
                        //添加新节点
                        newNode = treeObj.addNodes(node, data.data);
                    }
                },
                error: function ( response) {
                    result = true;
                    toastr.error(response.responseText);
                }
            });
        }
    }

    function dictTreeOnOnClick(event, treeId, treeNode) {
        let treeObj = $.fn.zTree.getZTreeObj(treeId);
        let node = treeObj.getNodeByTId(treeNode.tId);
        let tnode1 = templateTree.getNodeByParam("nodeId",node.pyCode,null);
        $("#"+tnode1.tId+"_a").click();
        let queryJson = {
            'sourceType':node.dictValue
        };
        templateTree.checkAllNodes(false);;
        $.ajax({
            type: "POST",
            async: false,
            url: ctx + "dataList/queryConfig",
            data: queryJson,
            dataType: "json",
            success: function (data) {
                if(data.status == 'SUCCESS'){
                    let result = data.data;
                    console.log(result);
                    if(result.length > 0){
                        $.each(result,function(index,value){
                            console.log(value.modelCode +':'+value.modelName);
                            var node1 = templateTree.getNodeByParam("nodeId",value.modelCode,null);
                            console.log(node1);
                            templateTree.checkNode(node1, true, true);
                            templateTree.selectNode(node1);
                        });
                    }
                }
            },
            error: function (response) {
                result = true;
                toastr.error(response.responseText);
            }
        });
    }
</script>
</body>
</html>