<!DOCTYPE HTML>
<!--suppress ALL-->
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>模板校验</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/jquery.treegrid.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/google-font/google.fonts.css}"/>
    <!--<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}"/>-->
    <link rel="shortcut icon" th:href="@{/img/logo.ico}"/>
    <!--<script th:src="@{/bootstrap/js/jquery-2.2.4.min.js}"></script>-->
</head>

<body>
<div class="main-container" style="margin: 10px 0px;">

    <div class="row" style="margin:0px;">
        <div class="col-sm-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#home">
                            批量校验
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#profile">
                            单份校验
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane in active">
                        <div id="treegrid_toolbar">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="model">模板类别</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">模板类别</span>
                                        <select class="form-control" name="data_set" id="data_set">
                                            <option value="">-------------------全部-------------------</option>
                                            <option th:each="list:${dataSet}" th:value="${list.dictValue}"
                                                    th:text="${list.dictLabel }"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="modelNum">全院模板总数</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">全院模板总数</span>
                                        <span class="form-control" name="msg_type" id="modelNum" th:text="${num}">
                                        </span>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary" onclick="doCheck(0)">批量验证</button>
                                <!--<button type="button" class="btn btn-primary">生成报告</button>-->
                            </form>

                        </div>
                        <table id="treegrid_table"></table>
                    </div>

                    <div id="profile" class="tab-pane">
                        <div id="simple_toolbar">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="productLine">病例模板选择</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">病例模板选择</span>
                                        <select class="form-control" name="modelList" id="modelList">
                                            <option value="">-------------------全部-------------------</option>
                                            <option th:each="list:${modelList}" th:value="${list.modelCode}"
                                                    th:text="${list.modelName }"
                                                    th:attr="sourceType=${list.sourceType}"></option>
                                        </select>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary" onclick="doCheck(1)">开始校验</button>
                                <!--<button type="button" class="btn btn-primary">生成报告</button>-->
                            </form>

                        </div>
                        <table id="simple_table"></table>
                    </div>
                </div>
            </div>
        </div><!-- /span -->
    </div>
</div>
</body>
<!--[if !IE]> -->
<script th:src="@{/bootstrap/js/jquery-2.2.4.min.js}"></script>
<!-- <![endif]-->
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-table.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-table-treegrid.min.js}"></script>
<script th:src="@{/bootstrap/js/jquery.treegrid.min.js}"></script>
<!--ace-->
<script th:src="@{/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/js/ace.min.js}"></script>
<script th:src="@{/assets/js/ace-extra.min.js}"></script>

<script th:inline="javascript" type="text/javascript">
    let ctx = /*[[@{/}]]*/'';
    // alert(ctx+'modelCheck/modelCheck');
    let $table = $('#treegrid_table');
    let $simple_table = $('#simple_table');
    $(function () {
        $table.bootstrapTable({
            url: ctx + 'modelCheck/list',
            method: "GET",
            height: $(window).height(),
            striped: true,
            queryParams: queryParams,
            toolbar: '#treegrid_toolbar',
            cache: false,  // 是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   // 是否显示分页（*）
            sortable: true,                     // 是否启用排序
            sortOrder: "asc",                   // 排序方式
            sidePagination: "client",           // 分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                      // 初始化加载第一页，默认第一页,并记录
            pageSize: 10,                     // 每页的记录行数（*）
            pageList: [10, 25, 50, 100],        // 可供选择的每页的行数（*）
            showPaginationSwitch: false,			//显示 数据条数选择框
            search: false,                      // 是否显示表格搜索
            strictSearch: true,
            minimumCountColumns: 2,             // 最少允许的列数
            clickToSelect: true,                // 是否启用点击选中行
            idField: 'id',
            sortName: 'id',
            uniqueId: "id",                 // 每一行的唯一标识，一般为主键列
            cardView: false,                    // 是否显示详细视图
            detailView: true,                  // 是否显示父子表
            toolbarAlign: 'left',
            paginationPreText: '上一页',
            paginationNextText: '下一页',
            paginationLoop: false, //分页条无限循环的功能
            singleSelect: true,
            columns: [
                // {
                //     field: 'ck',
                //     checkbox: true
                // },
                {
                    field: 'colummName',
                    width: '40%',
                    title: '模板名称'
                }, {
                    field: 'errorDesc',
                    width: '60%',
                    title: '结果分析'
                }
            ],
            // treeShowField: 'colummName',
            // parentIdField: 'pid',
            onExpandRow: function (index, row, $detail) {
                InitSubTable(index, row, $detail);
            },
            // onLoadSuccess: function (data) {
            //     console.log(data);
            //     // jquery.treegrid.js
            //     $table.treegrid({
            //         initialState: 'collapsed',
            //         treeColumn: 0,
            //         // expanderExpandedClass: 'glyphicon glyphicon-minus',
            //         // expanderCollapsedClass: 'glyphicon glyphicon-plus',
            //         onChange: function () {
            //             $table.bootstrapTable('resetWidth');
            //         }
            //     });
            // }
        });

        /**
         * 父子表
         */
        function InitSubTable(index, row, $detail) {
            let sourceType = row.sourceType;
            let cur_table = $detail.html('<table></table>').find('table');
            $subTable = $(cur_table);
            $subTable.bootstrapTable({
                url: ctx + 'modelCheck/modelList',
                method: 'get', // 请求方法
                queryParams: {
                    sourceType: sourceType,
                },
                striped: true,
                clickToSelect: true,                // 是否启用点击选中行
                detailView: true,                  // 是否显示父子表
                cache: false,  // 是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false,                   // 是否显示分页（*）
                sortable: true,                     // 是否启用排序
                sortOrder: "asc",                   // 排序方式
                idField: 'id',
                sortName: 'id',
                uniqueId: "id",                 // 每一行的唯一标识，一般为主键列
                columns: [
                    {
                        field: 'colummName',
                        width: '40%',
                        title: '模板名称'
                    }, {
                        field: 'errorDesc',
                        width: '60%',
                        title: '结果分析'
                    }
                ],
                onExpandRow: function (index, row, $detail) {
                    childTable(index, row, $detail);
                },
            });
        }

        /**
         * 父子表
         */
        function childTable(index, row, $detail) {
            let sourceType = row.sourceType;
            let modelCode = row.modelCode;
            let cur_table = $detail.html('<table></table>').find('table');
            $subTable = $(cur_table);
            $subTable.bootstrapTable({
                url: ctx + 'modelCheck/modelCheckList',
                striped: true,
                method: 'get', // 请求方法
                queryParams: {
                    sourceType: sourceType,
                    modelCode: modelCode,
                },
                cache: false,  // 是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false,                   // 是否显示分页（*）
                sortable: true,                     // 是否启用排序
                sortOrder: "asc",                   // 排序方式
                idField: 'id',
                sortName: 'id',
                uniqueId: "id",                 // 每一行的唯一标识，一般为主键列
                columns: [
                    {
                        field: 'colummName',
                        width: '40%',
                        title: '模板名称'
                    }, {
                        field: 'errorDesc',
                        width: '60%',
                        title: '结果分析',
                        formatter: 'errorDescFormatter'
                    }
                ],
            });
        }


        /**
         * 单数据集查询
         */
        $simple_table.bootstrapTable({
            url: ctx + 'modelCheck/modelCheckList',
            height: $(window).height(),
            queryParams: queryModelParams,
            striped: true,
            toolbar: '#simple_toolbar',
            sidePagination: 'client',
            idField: 'id',
            columns: [
                // {
                //     field: 'ck',
                //     checkbox: true
                // },
                {
                    field: 'colummName',
                    width: '30%',
                    title: '字段名称'
                },
                {
                    field: 'status',
                    title: '验证结果',
                    align: 'center',
                    formatter: 'statusFormatter'
                },
                {
                    field: 'errorDesc',
                    width: '40%',
                    title: '错误描述'
                }
            ],
        });


        function queryParams(params) {
            let sourceType = $("#data_set").children("option:selected").val();
            var param = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                sourceType: sourceType,
            };
            return param;
        };

        function queryModelParams(params) {
            let sourceType = $("#modelList").children("option:selected").attr("sourceType");
            let modelCode = $("#modelList").children("option:selected").val();
            var param = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                sourceType: sourceType,
                modelCode: modelCode,
            };
            return param;
        };


        //    模板类别选择
        $("#data_set").change(function () {
            $table.bootstrapTable('refresh');
            //获取模板类别
            let sourceType = $("#data_set").children("option:selected").val();
            $.ajax({
                url: ctx + 'modelCheck/modelNum',
                type: 'POST', // 请求方法
                data: {sourceType: sourceType},
                success: function (data) {
                    let num = data.num;
                    $("#modelNum").text(num);

                }
            });

        });

        //    病例模板选择
        $("#modelList").change(function () {
            $simple_table.bootstrapTable('refresh');
        });
    });

    // 格式化状态
    function statusFormatter(value, row, index) {
        if (value === 0) {
            //0：正确 1：错误
            return '<i class="fa fa-check" style="color: #00B83F"></i>';
        } else if (value === 1) {
            return '<i class="fa fa-times" style="color: red"></i>';
        } else {
            return '';
        }
    }

    // 格式化状态
    function errorDescFormatter(value, row, index) {
        if (value == "" || value == null&&row.status == 0) {
            return '<i class="fa fa-check" style="color: #00B83F"></i>';
        } else if (row.status == 1) {
            return '<span  style="color: red">' + value + '</span>';
        }
        return value;
    }

    //模板校验
    function doCheck(type) {
        //type:0/1;0:批量校验  1：单个校验
        let sourceType = '';
        let modelCode = '';
        if (type == 1) {
            //获取当前选中的模板类型
            sourceType = $("#modelList").children("option:selected").attr("sourceType");
            modelCode = $("#modelList").children("option:selected").val();
        } else if (type == 0) {
            sourceType = $("#data_set").children("option:selected").val();
        }
        $.ajax({
            url: ctx + 'modelCheck/doCheck',
            type: 'POST', // 请求方法
            data: {sourceType: sourceType, modelCode: modelCode},
            success: function (data) {
                if (data.msg == "SUCCESS") {
                    if (type == 1) {
                        $simple_table.bootstrapTable('refresh');
                    } else if (type == 0) {
                        $table.bootstrapTable('refresh');
                    }
                }

            }
        });


    }

</script>

</html>