<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>系统管理</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/jquery.treegrid.css}">
</head>

<body>
<div class="container">
    <h1>Table Treegrid</h1>
    <table id="table"></table>
</div>
</body>
<script th:src="@{/bootstrap/js/jquery-2.2.4.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-table.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-table-treegrid.min.js}"></script>
<script th:src="@{/bootstrap/js/jquery.treegrid.min.js}"></script>
<script th:inline="javascript"  type="text/javascript">
    var ctx = /*[[@{/}]]*/'';
    // alert(ctx+'modelCheck/modelCheck');
    var $table = $('#table');
    $(function () {
        $table.bootstrapTable({
            url: ctx+'modelCheck/list',
            height: $(window).height(),
            striped: true,
            sidePagination: 'client',
            idField: 'id',
            columns: [
                // {
                //     field: 'ck',
                //     checkbox: true
                // },
                {
                    field: 'colummName',
                    width:'40%',
                    title: '模板名称'
                },
                // {
                //     field: 'status',
                //     title: '状态',
                //     sortable: true,
                //     align: 'center',
                //     formatter: 'statusFormatter'
                // },
                {
                    field: 'errorDesc',
                    width:'60%',
                    title: '错误描述'
                }
            ],
            treeShowField: 'colummName',
            parentIdField: 'pid',
            onLoadSuccess: function (data) {
                console.log(data);
                // jquery.treegrid.js
                $table.treegrid({
                    initialState: 'collapsed',
                    treeColumn: 0,
                    // expanderExpandedClass: 'glyphicon glyphicon-minus',
                    // expanderCollapsedClass: 'glyphicon glyphicon-plus',
                    onChange: function () {
                        $table.bootstrapTable('resetWidth');
                    }
                });
            }
        });
    });

    // 格式化类型
    function typeFormatter(value, row, index) {
        if (value === 'menu') {
            return '菜单';
        }
        if (value === 'button') {
            return '按钮';
        }
        if (value === 'api') {
            return '接口';
        }
        return '-';
    }


    // 格式化状态
    function statusFormatter(value, row, index) {
        if (value === 1) {
            return '<span class="label label-success">正常</span>';
        } else {
            return '<span class="label label-default">锁定</span>';
        }
    }
</script>

</html>